<h1>Your Order</h1>

<table>
  <tr>
    <th>Customer</th>
    <td><%= @order.user_id %></td>
  </tr>
  <tr>
    <th>Status:</th>
    <td><%= @order.status %></td>
  </tr>
  <tr>
    <th>Items:</th>
    <td><%= @order.order_items.count %></td>
  </tr>
  <tr>
    <th>Items</th>
    <th>Title</th>
    <th>Quantity</th>
    <th>Unit Price</th>
    <th>Subtotal</th>
    <th></th>
  </tr>
	<% @order.order_items.each do |order_item| %>
  <tr>
  	<td><%= image_tag order_item.product.image_url, height: '150px' %></td>
  	<td><%= order_item.product.title %></td>
  	<td><%= link_to "#{order_item.quantity} (edit)", edit_order_item_path(order_item) %></td>
  	<td><%= order_item.product.price %></td>
  	<td><%= order_item.subtotal %></td>
  	<td><%= link_to "Remove", order_item_path(order_item), method: :delete, class: 'btn btn-danger' %></td>
  </tr>
	<% end %> 
	<tr>
		<td colspan="3"></td>
		<td>Total</td>
		<td><%= @order.total %></td>
	</tr> 
</table>
<br />
<%= link_to "Empty Cart", order_path(@order), class: 'btn btn-primary', method: :delete %>